extends layout

block content
    script(src='js/cpu.js')
    div.panel.panel-primary
        div.panel.panel-heading
            button.btn.btn-primary(type="button" id="buttonStart") Start
            button.btn.btn-danger(type="button" id="buttonStop") Stop
            div.hide(id="warningMessage")
        div.panel.panel-body    
            div.row
                div.panel.panel-primary
                    div.panel.panel-heading
                        h4
                            span.label.label-danger CPU Stat
                    div.panel.panel-body
                        canvas(id="chartCpu" width="1000" height="400")
            div.row
                div.panel.panel-primary
                    div.panel.panel-heading
                        h4
                            span.label.label-danger Disk Stat
                    div.panel.panel-body
                        canvas(id="chartDisk" width="1000" height="400")